.menu-label {
    -fx-font-family: Inconsolata;
    -fx-font-size: 20px;
}
.menu-label:hover {
    -fx-background-color: lightgray;
}
.menu-label:pressed {
    -fx-font-weight: bold;
}

.title {
    -fx-font-family: Inconsolata;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}
.subtitle {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}

.form-label {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 14px;
}
.primary-button {
    -fx-font-family: Inconsolata;
    -fx-font-size: 14px;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
}
.delete-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.table-column {
    -fx-alignment: CENTER-LEFT;
}
