@font-face{
    font-family: 'Inconsolata';
    font-weight: 700;
    src: url('fonts/Inconsolata-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'Inconsolata';
    font-weight: 500;
    src: url('fonts/Inconsolata-Regular.ttf') format('truetype');
}
.root {
    side-bar-bg: #F1F7F8;
    side-bar-item-selected: #C4E2E8;
    title: #131E20;
    subtitle: #28383C;
    label: #3B4547;
    primary-button: #9DDAE8;
    add-button: #8DC0CB;
    drop-shadow: #91ADB3;
    hover-shine: #D7EEF2;
    menu-bar-bg: #266A77;
    menu-bar-selected: #18475B;
}

.side-menu {
    -fx-background-color: side-bar-bg;
}
.menu-title {
    -fx-font-family: Inconsolata;
    -fx-font-weight: 500;
    -fx-font-size: 20px;
    -fx-text-fill: title;
}
.menu-label {
    -fx-font-family: Inconsolata;
    -fx-font-weight: 500;
    -fx-font-size: 20px;
    -fx-text-fill: title;
    -fx-background-color: transparent;
}
.menu-label:hover {
    -fx-background-color: side-bar-item-selected;
    -fx-font-weight: 700;
    -fx-text-fill: title;
    -fx-border-width: 0px 3px 0px 0px;
    -fx-border-color: add-button;
}
.menu-label-selected {
    -fx-background-color: side-bar-item-selected;
    -fx-font-weight: 700;
    -fx-text-fill: subtitle;
}
.pane {
    -fx-background-color: white;
}
.title {
    -fx-font-family: Inconsolata;
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-text-fill: title;
}
.subtitle {
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 18px;
    -fx-font-weight: 500;
    -fx-text-fill: subtitle;
}   
.form-label {
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14px;
    -fx-text-fill: label;
}
.primary-button {
    -fx-font-family: Inconsolata;
    -fx-font-size: 16px;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: primary-button;
    -fx-effect: dropshadow(gaussian, drop-shadow, 6, 0.2, 0, 2);

}
.secondary-button {
    -fx-font-family: Inconsolata;
    -fx-font-size: 16px;
    -fx-background-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: primary-button;
    -fx-background-color: white;
}
.add-button {
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: add-button;

    -fx-effect: dropshadow(gaussian, drop-shadow, 3, 0.2, 0, 2);
}
.operator-button {
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: side-bar-item-selected;
    -fx-effect: dropshadow(gaussian, drop-shadow, 3, 0.2, 0, 2);
}
.delete-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.text-field, .combo-box, .check-box .box {
    -fx-background-radius: 0;
    -fx-background-color: side-bar-bg;
    -fx-border-width: 1px;
    -fx-border-color: side-bar-item-selected;
}
.text-field:hover, .combo-box:hover, .check-box .box:hover{
    -fx-effect: dropshadow(gaussian, hover-shine, 6, 0.2, 0, 0);
}

.text-field-error, .combo-box-error {
    -fx-border-color: #e64c72;
    -fx-border-width: 1;
}

.add-button:hover, .primary-button:hover{
    -fx-effect: dropshadow(gaussian, drop-shadow, 3, 0, 0, 1);
}
.check-box .label {
    -fx-font-style: italic;
}
.check-box:selected .mark {
    -fx-background-color: subtitle;
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: side-bar-item-selected;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: drop-shadow;
}
.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: subtitle;
}
.table-view {
    -fx-border-color: side-bar-item-selected;
}
.table-view .column-header, .table-view .column-header-background .filler {
    -fx-background-color: side-bar-bg;
    -fx-table-cell-border-color: side-bar-item-selected;
}
.table-view .column-header .label{
    -fx-text-fill: subtitle;
    -fx-font-family: Inconsolata;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-row-cell {
    -fx-table-cell-border-color: side-bar-item-selected;
}
.table-row-cell:selected .cell {
    -fx-text-background-color: label;
    -fx-background-color: side-bar-item-selected;
    -fx-table-cell-border-color: drop-shadow;

}
.table-row-cell:even{
    -fx-background-color: white;
}
.table-row-cell:odd{
    -fx-background-color: #F9FCFC;
}
.table-column {
    -fx-alignment: CENTER-LEFT;
}
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: side-bar-item-selected;
    -fx-padding: 0 1px 0 1px;
}

.menu-bar {
    -fx-background-color: menu-bar-bg;
}
.menu-bar .menu .label{
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}
.menu-bar .menu:hover, .menu-bar .menu:showing {
    -fx-background-color: menu-bar-selected;
}

.menu-bar .menu-item .label {
    -fx-text-fill: label;
}
.menu-bar .menu-item:hover, .menu-bar .menu-item:focused {
    -fx-background-color: side-bar-bg;
}
.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
.default-color0.chart-series-line {
    -fx-stroke: red;
}
.default-color1.chart-series-line {
    -fx-stroke: green;
}
.default-color2.chart-series-line {
    -fx-stroke: blue;
}

.default-color0.chart-line-symbol {
    -fx-background-color: red, white;
}
.default-color1.chart-line-symbol {
    -fx-background-color: green, white;
}
.default-color2.chart-line-symbol {
    -fx-background-color: blue, white;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}
